
  <head>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet">

    <link href="/materialize.css" rel = "stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/style.css" rel = "stylesheet">
    <link href="dist/hamburgers.css" rel="stylesheet">
  </head>
  <body class = "grey darken-4">


  <div class = "top-bar left grey darken-3 z-depth-1">
    <div class = "corner-circle circle center left blue darken-4 z-depth-5">
    <a href = "#" data-activates = "slide-out" class = "button-collapse">
      <button class="hamburger hamburger--arrowalt" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>      
    </div>
    <h3 id = "page-title" class = "white-text center title-font"> Current Projects </h3>
  </div>

  <div class = "left-bar left grey darken-3 z-depth-1">
  </div>

    <ul id = "slide-out" class = "side-nav black center">
      <li class = "main-nav-items"><a class = ""><h5 class = "white-text">Alpha Zero </h5></a>
        <a class = "dropdown-button lighten-1" href = "#" data-activates="dropdown-a"><img class = "down-arrow" src = "http://www.freeiconspng.com/uploads/arrow-down-icon-png-9.png"></a>
        <ul id = "dropdown-a" class = "dropdown-content black center">

          <li class = "blue darken-1"><h5 class = "white-text left "> Team </h5>

            <img class = "plus-icon" id = "wolf" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
            <ul class = "input-field" id = "">
              <li>
                <div class = "alphaDrop">
                  <input class = "input-data white-text team-input" type = "text" placeholder = "What would you like to add?">
                  <button class="btn waves-effect waves-light team-btn blue">
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </li>
            </ul>
          </div>


          </li>

          <li class = "blue darken-2"><h5 class = "white-text left"> Media </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "alphaDrop">
                    <input class = "input-data white-text alpha-media-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light media-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-3"><h5 class = "white-text left"> Summary </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "alphaDrop">
                    <input class = "input-data white-text alpha-summary-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light summary-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-4"><h5 class = "white-text left"> Progress </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "alphaDrop">
                    <input class = "input-data white-text alpha-progress-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light progress-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-5"><h5 class = "white-text left"> Tests </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "alphaDrop">
                    <input class = "input-data white-text alpha-tests-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light tests-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <li class = "main-nav-items" value = "beta"><a class = ""><h5 class = "white-text"> Beta One </h5></a>
        <a class = "dropdown-button" href = "#" data-activates="dropdown-b"><img class = "down-arrow" src = "http://www.freeiconspng.com/uploads/arrow-down-icon-png-9.png"></a>
        <ul id = "dropdown-b" class = "dropdown-content black center">

          <li class = "blue darken-1"><h5 class = "white-text left "> Team </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "betaDrop">
                    <input class = "input-data white-text beta-team-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light team-btn blue">
                      <i class="material-icons ">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>


          <li class = "blue darken-2"><h5 class = "white-text left"> Media </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "betaDrop">
                    <input class = "input-data white-text beta-media-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light media-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-3"><h5 class = "white-text left"> Summary </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "betaDrop">
                    <input class = "input-data white-text beta-summary-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light summary-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-4"><h5 class = "white-text left"> Progress </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "betaDrop">
                    <input class = "input-data white-text beta-progress-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light progress-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-5"><h5 class = "white-text left"> Tests </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "betaDrop">
                    <input class = "input-data white-text beta-tests-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light tests-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <li class = "main-nav-items" value = "cali" ><a class = ""><h5 class = "white-text"> Cali Two </h5></a>
        <a class = "dropdown-button" href = "#" data-activates="dropdown-c"><img class = "down-arrow" src = "http://www.freeiconspng.com/uploads/arrow-down-icon-png-9.png"></a>
        <ul id = "dropdown-c" class = "dropdown-content black center">

          <li class = "blue darken-1"><h5 class = "white-text left "> Team </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "caliDrop">
                    <input class = "input-data white-text cali-team-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light team-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-2"><h5 class = "white-text left"> Media </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "caliDrop">
                    <input class = "input-data white-text cali-media-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light media-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-3"><h5 class = "white-text left"> Summary </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "caliDrop">
                    <input class = "input-data white-text cali-summary-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light summary-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-4"><h5 class = "white-text left"> Progress </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "caliDrop">
                    <input class = "input-data white-text cali-progress-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light progress-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-5"><h5 class = "white-text left"> Tests </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "caliDrop">
                    <input class = "input-data white-text cali-tests-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light tests-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <li class = "main-nav-items" value = "darwin"><a class = ""><h5 class = "white-text"> Darwin Three </h5></a>
        <a class = "dropdown-button" href = "#" data-activates="dropdown-d"><img class = "down-arrow" src = "http://www.freeiconspng.com/uploads/arrow-down-icon-png-9.png"></a>
        <ul id = "dropdown-d" class = "dropdown-content black center">

          <li class = "blue darken-1"><h5 class = "white-text left "> Team </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "darwinDrop">
                    <input class = "input-data white-text darwin-team-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light team-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-2"><h5 class = "white-text left"> Media </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "darwinDrop">
                    <input class = "input-data white-text darwin-media-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light media-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-3"><h5 class = "white-text left"> Summary </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "darwinDrop">
                    <input class = "input-data white-text darwin-summary-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light summary-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-4"><h5 class = "white-text left"> Progress </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "darwinDrop">
                    <input class = "input-data white-text darwin-progress-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light progress-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-5"><h5 class = "white-text left"> Tests </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "darwinDrop">
                    <input class = "input-data white-text darwin-tests-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light tests-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <li class = "main-nav-items" value = "enigma"><a class = ""><h5 class = "white-text"> Enigma Four </h5></a>
        <a class = "dropdown-button" href = "#" data-activates="dropdown-e"><img class = "down-arrow" src = "http://www.freeiconspng.com/uploads/arrow-down-icon-png-9.png"></a>
        <ul id = "dropdown-e" class = "dropdown-content black center">

          <li class = "blue darken-1"><h5 class = "white-text left "> Team </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "enigmaDrop">
                    <input class = "input-data white-text enigma-team-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light team-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-2"><h5 class = "white-text left"> Media </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "enigmaDrop">
                    <input class = "input-data white-text enigma-media-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light media-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-3"><h5 class = "white-text left"> Summary </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "enigmaDrop">
                    <input class = "input-data white-text enigm-asummary-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light summary-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-4"><h5 class = "white-text left"> Progress </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "enigmaDrop">
                    <input class = "input-data white-text enigma-progress-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light progress-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-5"><h5 class = "white-text left"> Tests </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "enigmaDrop">
                    <input class = "input-data white-text enigma-tests-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light tests-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class = "main-nav-items" value = "failsafe"><a class = ""><h5 class = "white-text"> FS-Five </h5></a>
        <a class = "dropdown-button" href = "#" data-activates="dropdown-f"><img class = "down-arrow" src = "http://www.freeiconspng.com/uploads/arrow-down-icon-png-9.png"></a>
        <ul id = "dropdown-f" class = "dropdown-content black center">

          <li class = "blue darken-1"><h5 class = "white-text left "> Team </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "failsafeDrop">
                    <input class = "input-data white-text failsafe-team-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light team-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-2"><h5 class = "white-text left"> Media </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "failsafeDrop">
                    <input class = "input-data white-text failsafe-media-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light media-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-3"><h5 class = "white-text left"> Summary </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "failsafeDrop">
                    <input class = "input-data white-text failsafe-summary-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light summary-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-4"><h5 class = "white-text left"> Progress </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "failsafeDrop">
                    <input class = "input-data white-text failsafe-progress-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light progress-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class = "blue darken-5"><h5 class = "white-text left"> Tests </h5>
            <img class = "plus-icon" id = "" src = "https://cdn4.iconfinder.com/data/icons/linecon/512/add-128.png">
            <div class = "slideout-item" ><br/>
              <ul class = "input-field" id = "">
                <li>
                  <div class = "failsafeDrop">
                    <input class = "input-data white-text failsafe-tests-input" type = "text" placeholder = "What would you like to add?">
                    <button class="btn waves-effect waves-light tests-btn blue">
                      <i class="material-icons">send</i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div id = "flashy-content" class = "container center">
    <div class = "row pull-up center">
      <div id = "alpha" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 top-divs float">
        <h1 class = "zero-marg white-text center"> Alpha Zero </h1>
      </div>
      <div id = "beta" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 top-divs float-b center-top">
        <h1 class = "zero-marg white-text center"> Beta One </h1>
        <img id = "beta-skull" src = "http://images.clipshrine.com/getimg/PngMedium-Skull-and-Crossbones-50630.png">
      </div>
      <div id = "cali" class = "col s12 m6 l3 blue darken-4 push-right-last z-depth-3 top-divs float">
        <h1 class = "zero-marg white-text center"> Cali Two </h1>
      </div>
      <div id = "darwin" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 bottom-divs float-b">
        <h1 class = "zero-marg white-text center"> Darwin Three </h1>
      </div>
      <div id = "enigma" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 bottom-divs float center-bottom">
        <h1 class = "zero-marg white-text center "> Enigma Four </h1>
      </div>
      <div id = "failsafe" class = "col s12 m6 l3 blue darken-4 push-right-last z-depth-3 bottom-divs float-b">
        <h1 class = "zero-marg white-text center"> Fail-Safe Five </h1>
      </div>
    </div>

</div>

  </div>
  <script src="/jquery.js"></script>
  <script src="/materialize.js"></script>
  <script src="/hand_coded.js"></script>

  </body>
