
  <div class = "row">
    <div id = "" class = "col s12 m6 l2 blue darken-4 push-right z-depth-3 access-divs float-b">
      <h1 class = "zero-marg white-text center flow-text"> Team </h1>
    </div>
    <div id = "put-here" class = "col s12 m6 l4 blue darken-4 z-depth-3 main float-main">

    </div>
    <div id = "" class = "col s12 m6 l2 blue darken-4 push-right-item z-depth-3 access-divs float">
      <h1 class = "zero-marg white-text center flow-text"> Media </h1>
    </div>
    <div id = "" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 access-divs float-b">
      <h1 class = "zero-marg white-text center flow-text"> Summary </h1>
    </div>
    <div id = "" class = "col s12 m6 l2 blue darken-4 push-right z-depth-3 access-divs float">
      <h1 class = "zero-marg white-text center flow-text"> Progress </h1>
    </div>
    <div id = "" class = "col s12 m6 l3 blue darken-4 push-right-last z-depth-3 access-divs float-b">
      <h1 class = "zero-marg white-text center flow-text"> Tests </h1>
    </div>
</div>
