.push-right-item {

  margin-bottom: 50px;
}

@-webkit-keyframes floatMain {
  0% {
    bottom: 0px
  }
  10% {
    bottom: 1px;
  }
  20% {
    bottom: 2px;
  }
  30% {
    bottom: 3px;
  }
  40% {
    bottom: 4px;
  }
  50% {
    bottom: 5px;
  }
  60% {
    bottom: 4px;
  }
  70% {
    bottom: 3px;
  }
  80% {
    bottom: 2px;
  }
  90%{
    bottom: 1px;
  }
  100% {
    bottom: 0px;
  }

}

@keyframes floatMain {
  0% {
    bottom: 0px
  }
  10% {
    bottom: 1px;
  }
  20% {
    bottom: 2px;
  }
  30% {
    bottom: 3px;
  }
  40% {
    bottom: 4px;
  }
  50% {
    bottom: 5px;
  }
  60% {
    bottom: 4px;
  }
  70% {
    bottom: 3px;
  }
  80% {
    bottom: 2px;
  }
  90%{
    bottom: 1px;
  }
  100% {
    bottom: 0px;
  }

}

.float-main {
  animation: floatMain 2s infinite;
  -webkit-animation: floatMain 2s infinite;
  transition-timing-function: ease-in-out;
}

.overlay {
  background-color: purple;
  opacity: 0.5;
  width: inherit;
  height:inherit;
  z-index: 1000;
  margin-left: -11px;
  padding: 0 0 0 0;
  margin-top: -200px;
  float: top;
}

.overlay-two {
  width: 500;
  height: 500;
  z-index: 1001;
  padding: 0 0 0 0;
  float: top;
}

.main > h1 {
  margin: 0 0 -70px 0;
  padding: 0 0 0 0;
  z-index: 9999;
  position: relative;
}

.item-show {
  display: none;
  background-color: transparent;
  z-index: 9999;
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 100px;
}

.item-show > p {
  background-color: transparent;
  position: relative;
  z-index: 9999;
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family:
}

#title {
  margin-right: 200px;
}
