
  <div class = "row">

    <div id = "" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 access-divs float-b">
      <h1 class = "zero-marg white-text center"> Team </h1>
    </div>
    <div id = "put-here" class = "col s12 m6 l3 blue darken-4 z-depth-3 float-main main">

    </div>
    <div id = "" class = "col s12 m6 l3 blue darken-4 push-right-item z-depth-3 access-divs float">
      <h1 class = "zero-marg white-text center"> Media </h1>
    </div>
    <div id = "" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 access-divs float-b">
      <h1 class = "zero-marg white-text center"> Summary </h1>
    </div>
    <div id = "" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 access-divs float">
      <h1 class = "zero-marg white-text center"> Progress </h1>
    </div>
    <div id = "" class = "col s12 m6 l3 blue darken-4 push-right-last z-depth-3 access-divs float-b">
      <h1 class = "zero-marg white-text center"> Tests </h1>
    </div>
</div>
