body {
  background: linear-gradient(to right, #1178FD 10%,#1F6AA4 99%);
}

.pull-up {
  margin: 0 auto 0 auto;
}

#title {
  margin-right: 85px;
}



.container {
  margin: 0 auto 0 auto;
  padding-left: 55px;
}

.access-divs {
  margin-top: 100px;
  margin-left: 100px;
/* Fixes max size for floating divs on the main page. */
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: none;
  border-radius: 10px;
 /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}

.main {
  width:250px;
  height: 300px;
  margin-top: 100px;
  margin-right: 120px;
  display: none;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  z-index: 4000;
}

.detail-items {
  margin: 0 auto 0 auto;
}

.float {
  animation: floatme 4s infinite;
  -webkit-animation: floatme 4s infinite;
  transition-timing-function: ease-in-out;
}

.float-b {
  animation: floatmeRev 3s infinite;
  -webkit-animation: floatme 3s infinite;
  transition-timing-function: ease-in-out;
}

.plus-icon {
  width: 50px;
  height: 50px;
}

@-webkit-keyframes floatme {
  0% {
    bottom: 0px
  }
  10% {
    bottom: 1px;
  }
  20% {
    bottom: 2px;
  }
  30% {
    bottom: 3px;
  }
  40% {
    bottom: 4px;
  }
  50% {
    bottom: 5px;
  }
  60% {
    bottom: 4px;
  }
  70% {
    bottom: 3px;
  }
  80% {
    bottom: 2px;
  }
  90%{
    bottom: 1px;
  }
  100% {
    bottom: 0px;
  }

}

@-webkit-keyframes floatmeRev {
  0% {
    top: 0px
  }
  10% {
    top: 1px;
  }
  20% {
    top: 2px;
  }
  30% {
    top: 3px;
  }
  40% {
    top: 4px;
  }
  50% {
    top: 5px;
  }
  60% {
    top: 4px;
  }
  70% {
    top: 3px;
  }
  80% {
    top: 2px;
  }
  90%{
    top: 1px;
  }
  100% {
    top: 0px;
  }

}

#alpha {
  background-image: url('/wolf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#beta {
  background-image: url('/hand.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

#beta-skull {
  float:right;
  opacity: 0.5;
  height: 90px;
  width: 90px;
}

#cali {
  background-image: url('/california.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#darwin {
  background-image: url('/evolution.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#enigma {
  background-image: url('/inception.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#failsafe  {
  background-image: url('/runman.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-bar {
  height: 60px;
  width: 100%;
  margin: none;
  padding: none;
  z-index: 9999;
}

#page-title {
  /*font-weight: bold;*/
  margin-top: 0px;
}
.left-bar {
  height: 100%;
  width: 60px;
  z-index: 1;
}
.corner-circle {
  width: 75px;
  height: 75px;
  padding-top: 10px;
  position: absolute;
  margin:none;
  padding:none;
  z-index: 1000;
}

.corner-circle-home {
  background-image: url('http://www.visualgoodness.com/webroot/images/global/icons/icon-home.png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 75px;
  position: relative;
  margin-left: 100px;
  padding: 0 0 0 0;
  z-index: 1000;
}

.zero-marg {
  margin-top: 0;
  padding: none;
}

.push-right {
  margin-right: 100px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.push-right-last {
  margin-right: 20px;
  border-radius: 10px;
}

.top-divs {
  margin-top: 140px;
/* Fixes max size for floating divs on the main page. */
  width: 300px;
  height: 200px;
  overflow: hidden;
}


.bottom-divs {
  margin-left: 10px;
  margin-top: 100px;
/* Fixes max size for floating divs on the main page. */
  width: 300px;
  height: 200px;
  overflow: hidden;
}

li.blue.darken-1, li.blue.darken-2, li.blue.darken-3, li.blue.darken-4, li.blue.darken-5 {
  border-radius: 5px;
}
.center-top {
  margin-top: 60px;
}

.center-bottom {
  margin-top: 180px;
}

.row {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/*.row:after {
  clear: none;
}
*/
.side-nav {
  opacity: 0.9;
  padding-top: 25px;
  margin-top: 60px;
  /*z-index: 3;*/
}

#dropdown-c {
  top: 376px !important;
}

#dropdown-d {
  top: 522px !important;
  height: 450px;
}

#dropdown-e {
  top: 668px !important;
  height: 450px;
}

#dropdown-f {
  top: 814px !important;
  height: 450px;
}

#slide-out {
  overflow: auto;
}

.down-arrow {
  width: 50px;
  height: 50px;
}

.main-nav-items {
  margin-bottom: 50px;
  /*z-index: 4;*/
}

.slideout-item ul li:hover {
  background-color: transparent;
}

ul > li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul > li > h5 {
  margin-left: 5px;
  padding: 0;
}

.input-field label {
  color: #000;
}

.input-field {
  margin-right: 10px;
  margin-left: 10px;
}
    /* label focus color */
.input-field input[type=text]:focus + label {
  color: transparent;
}

.input-field input[type=text] {
  border-bottom: 1px dotted white;
  box-shadow: 0;
}
    /* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 0px solid gray;
  box-shadow: 0 0px 0 0 gray;
}
  /* valid color */
.input-field input[type=text].valid {
  border-bottom: 0px solid #000;
  box-shadow: 0 0px 0 0 #000;
}
   /* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
   /* icon prefix focus color */
.input-field .prefix.active {
  color: red;
}

.dropdown-content {
  padding-left: 10px;
  padding-right: 10px;
  /*margin-top: 10px;*/
}

.dropdown-button {
  background-color: transparent;
}

.add-project {
  height: 60px;
  width: 400px;
}

.add-project-input {
  width: 60% !important;
  height: 30px !important;
  color: grey;
  margin-right: 100px
}

.add-project-input-group{
  display: inline-block;
}

.add-project-btn {
  background-color: grey;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  padding: 0 2px 8px 2px;
}

.input-field .btn {
  width: 50px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  border-radius: 5px;
}

.input-field input {
  width: 80%;
  margin-right: 15px;
  margin-bottom: 10px;
}

.plus-icon {
  float: right;
  width: 35px;
  height: 35px;
  margin-top: 8px;
  margin-right: 8px;
}

.title-font {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  opacity: 0.9;
  font-size: 40px;

}

.item-show {
  background-color: white;
}

.top-divs:hover, .bottom-divs:hover, .access-divs:hover {
  opacity: .7;
  box-shadow: 0 0 20px white;
  text-shadow: 0 0 5px #ff0000;
}

.hideDivs {
  display: none;
}

#beta:hover, #darwin:hover, #failsafe:hover {
  text-shadow: 0 0 5px #5DFC0A;
}

.hamburger:focus {
  background-color: transparent !important;
}

.main, .item-show {
  text-shadow: none !important;
}


#team {
  background-image: url('http://www.jencoinc.com/wp-content/uploads/2015/07/Team-large.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 150px;
}

#summary {
  background-image: url('http://997waystobeagreatspeaker.com/wp-content/uploads/2009/11/can-i-use-notes-while-speaking.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#progress {
  background-image: url('https://schoolpupiltracker.com/wp-content/uploads/2016/03/Progress.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#tests {
  background-image: url('http://834ff4dqetg4q20c469mp613.wpengine.netdna-cdn.com/wp-content/uploads/2012/11/chemical_odor_analysis.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#media {
  background-image: url('https://aos.iacpublishinglabs.com/question/aq/1400px-788px/statistics-on-media-influence_afbcd1fa-dee5-4703-a836-de4dde159043.jpg?domain=cx.aos.ask.com');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 150px;
}

.bottom-container {
  padding-left: 90px;
}
