
  <div id = "put-here" class = "row pull-up">
    <h1> Hello </h1>
    <!-- <div id = "main-item" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 top-divs float">
      <h1 class = "zero-marg white-text center"> Alpha Zero </h1>
    </div> -->
    <!-- <div id = "beta-one" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 top-divs float-b">
      <h1 class = "zero-marg white-text center"> Beta One </h1>
      <img id = "beta-skull" src = "http://images.clipshrine.com/getimg/PngMedium-Skull-and-Crossbones-50630.png">
    </div>
    <div id = "cali-two" class = "col s12 m6 l3 blue darken-4 push-right-last z-depth-3 top-divs float">
      <h1 class = "zero-marg white-text center"> Cali Two </h1>
    </div>
    <div id = "darwin-three" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 top-divs float-b">
      <h1 class = "zero-marg white-text center"> Darwin Three </h1>
    </div>
    <div id = "enigma-four" class = "col s12 m6 l3 blue darken-4 push-right z-depth-3 top-divs float">
      <h1 class = "zero-marg white-text center"> Enigma Four </h1>
    </div>
    <div id = "failsafe-five" class = "col s12 m6 l3 blue darken-4 push-right-last z-depth-3 top-divs float-b">
      <h1 class = "zero-marg white-text center"> Fail-Safe Five </h1>
    </div> -->
  </div>
