    <div id = "team" class = "col s12 m6 l3 blue darken-4 push-right-second z-depth-3 top-divs float secondary">
      <h1 class = "zero-marg white-text center"> Team </h1>
    </div>
    <div id = "progress" class = "col s12 m6 l3 blue darken-4 push-right-second-last z-depth-3 top-divs float secondary">
      <h1 class = "zero-marg white-text center"> Progress </h1>
    </div>
    <div id = "media" class = "col s12 m6 l3 blue darken-4 push-right-second z-depth-3 bottom-divs-second float-b secondary">
      <h1 class = "zero-marg white-text center"> Media </h1>
    </div>
    <div id = "presentation" class = "col s12 m6 l3 blue darken-4 push-right-second z-depth-3 bottom-divs-second float secondary">
      <h1 class = "zero-marg white-text center"> Presentation </h1>
    </div>
    <div id = "summary" class = "col s12 m6 l3 blue darken-4 push-right-second-last z-depth-3 bottom-divs-second float-b secondary">
      <h1 class = "zero-marg white-text center"> Summary </h1>
    </div>