body {
  background: linear-gradient(to right, #1178FD 10%,#1F6AA4 99%);
}

.float {
  animation: floatme 4s infinite;
  -webkit-animation: floatme 4s infinite;
  transition-timing-function: ease-in-out;
}

.float-b {
  animation: floatmeRev 3s infinite;
  -webkit-animation: floatme 3s infinite;
  transition-timing-function: ease-in-out;
}

.plus-icon {
  width: 50px;
  height: 50px;
}

@-webkit-keyframes floatme {
  0% {
    bottom: 0px
  }
  10% {
    bottom: 1px;
  }
  20% {
    bottom: 2px;
  }
  30% {
    bottom: 3px;
  }
  40% {
    bottom: 4px;
  }
  50% {
    bottom: 5px;
  }
  60% {
    bottom: 4px;
  }
  70% {
    bottom: 3px;
  }
  80% {
    bottom: 2px;
  }
  90%{
    bottom: 1px;
  }
  100% {
    bottom: 0px;
  }

}

@-webkit-keyframes floatmeRev {
  0% {
    top: 0px
  }
  10% {
    top: 1px;
  }
  20% {
    top: 2px;
  }
  30% {
    top: 3px;
  }
  40% {
    top: 4px;
  }
  50% {
    top: 5px;
  }
  60% {
    top: 4px;
  }
  70% {
    top: 3px;
  }
  80% {
    top: 2px;
  }
  90%{
    top: 1px;
  }
  100% {
    top: 0px;
  }

}

#alpha-zero {
  background-image: url('/wolf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#beta-one {
  background-image: url('/hand.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

#beta-skull {
  float:right;
  opacity: 0.5;
  height: 90px;
  width: 90px;
}

#cali-two {
  background-image: url('/california.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#darwin-three {
  background-image: url('/evolution.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#enigma-four {
  background-image: url('/inception.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#failsafe-five {
  background-image: url('/runman.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-bar {
  height: 60px;
  width: 100%;
  margin: none;
  padding: none;
  z-index: 2;
}

#page-title {
  /*font-weight: bold;*/
  margin-top: 0px;
}
.left-bar {
  height: 100%;
  width: 60px;
  z-index: 1;
}
.corner-circle {
  width: 110px;
  height: 110px;
  padding-top: 10px;
  position: absolute;
  margin:none;
  padding:none;
  z-index: 1000;
}

.zero-marg {
  margin-top: 0;
  padding: none;
}

.push-right {
  margin-right: 100px;
  margin-bottom: 0px;
}

.push-right-last {
  margin-right: 20px;
}

.push-right-second {
  margin-right: 80px;
  margin-bottom: 0px;
}

.push-right-second-last {
  margin-right: 10px;
}

.top-divs {
  margin-top: 100px;
/* Fixes max size for floating divs on the main page. */
  width: 300px;
  height: 200px;
  overflow: hidden;
}


.bottom-divs {
  margin-top: 60px;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.top-divs-second {
  margin-top: 100px;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.bottom-divs-second {
  margin-top: 60px;
  width: 300px;
  height: 200px;
  overflow: hidden;
}


.row{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.second {
  height: 500px;
}
.side-nav {
  opacity: 0.7;
  padding-top: 25px;
  margin-top: 60px;
}

.down-arrow {
  width: 50px;
  height: 50px;
}

.main-nav-items {
  margin-bottom: 50px;
}

ul > li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul > li > h5 {
  margin-left: 5px;
  padding: 0;
}

.input-field label {
  color: #000;
}

.input-field {
  margin-right: 10px;
  margin-left: 10px;
}
    /* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
.input-field input[type=text]:hover + label {
  color: #000;
}
    /* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
  /* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
   /* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
   /* icon prefix focus color */
.input-field .prefix.active {
  color: red;
}

.dropdown-content {
  margin-left: 17px;
  margin-top: 10px;
}

.plus-icon {
  float: right;
}

.title-font {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  opacity: 0.8;
  font-size: 40px;
}

/** Flip Animation **/

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  border: 1px solid #ccc;
}

  .flip-container:hover .flipper,  
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 320px;
  height: 427px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat;
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: #f8f8f8;
}

.front .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.back-logo {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 160px;
  height: 117px;
  background: url(http://davidwalsh.name/demo/logo.png) 0 0 no-repeat;
}

.back-title {
  font-weight: bold;
  color: #00304a;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em #acd7e5;
  font-family: Courier;
  font-size: 2em;
}

.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}

.flip {
  margin-left: 300px;
}
